#python
build/
dist/
__pycache__*
*.pyc
*.pyo
*.key
*.egg-info

# jupyter / ipython
.ipynb_checkpoints
Untitled*.ipynb

# data related dirs
# data/
model_weights/
tmp_dir/
weights/

# Unit Tests/Coverage
.coverage
.coverage.*
coverage.xml
*.cover
htmlcov*/
.pytest_cache
.cache
.hypothesis/

# sublime
*.sublime-workspace
sftp*-config.json

# misc
.DS_store

#mypy
.mypy_cache

# Documentation
_build

# _static
_templates

# test checkpoints
checkpoints