sphinx==3.4.3
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
recommonmark==0.7.1
sphinx-markdown-tables==0.0.15
sphinx-copybutton==0.3.1
sphinx-autodoc-typehints==1.11.1
pandas
numpy
scipy
scikit-learn
gensim
spacy
opencv-contrib-python
imutils
tqdm
torch
torchvision
einops
