site_name: pytorch_widedeep
repo_name: pytorch_widedeep
repo_url: https://github.com/jrzaurin/pytorch-widedeep
copyright: Javier Zaurin and Pavol Mulinka
docs_dir: sources
site_url: https://pytorch-widedeep.readthedocs.io
edit_uri: edit/master/mkdocs/sources

extra:
    social:
        - icon: fontawesome/brands/medium
          link: https://jrzaurin.medium.com/

# Navigation
# There is no 'nav' in this config because we use mkdocs-awesome-pages-plugin
# The ordering of pages in the docs folder are now in a `.pages` file instead
nav:
    - Home: index.md
    - Installation: installation.md
    - Quick Start: quick_start.md
    - Pytorch-widedeep:
        - Utils:
            - pytorch-widedeep/utils/index.md
            - Deeptabular utils: pytorch-widedeep/utils/deeptabular_utils.md
            - Fastai transforms: pytorch-widedeep/utils/fastai_transforms.md
            - Image utils: pytorch-widedeep/utils/image_utils.md
            - Text utils: pytorch-widedeep/utils/text_utils.md
        - Preprocessing: pytorch-widedeep/preprocessing.md
        - Model Components: pytorch-widedeep/model_components.md
        - Bayesian models: pytorch-widedeep/bayesian_models.md
        - Losses: pytorch-widedeep/losses.md
        - Metrics: pytorch-widedeep/metrics.md
        - Dataloaders: pytorch-widedeep/dataloaders.md
        - Callbacks: pytorch-widedeep/callbacks.md
        - Trainer: pytorch-widedeep/trainer.md
        - Bayesian Trainer: pytorch-widedeep/bayesian_trainer.md
        - Self Supervised Pretraining: pytorch-widedeep/self_supervised_pretraining.md
        - Tab2Vec: pytorch-widedeep/tab2vec.md
    - Examples:
        - 01_Preprocessors_and_utils: examples/01_Preprocessors_and_utils.ipynb
        - 02_model_components: examples/02_model_components.ipynb
        - 03_Binary_Classification_with_Defaults: examples/03_Binary_Classification_with_Defaults.ipynb
        - 04_regression_with_images_and_text: examples/04_regression_with_images_and_text.ipynb
        - 05_save_and_load_model_and_artifacts: examples/05_save_and_load_model_and_artifacts.ipynb
        - 06_fineTune_and_warmup: examples/06_fineTune_and_warmup.ipynb
        - 07_Custom_Components: examples/07_Custom_Components.ipynb
        - 08_custom_dataLoader_imbalanced_dataset: examples/08_custom_dataLoader_imbalanced_dataset.ipynb
        - 09_extracting_embeddings: examples/09_extracting_embeddings.ipynb
        - 11_auc_multiclass: examples/11_auc_multiclass.ipynb
        - 12_ZILNLoss_origkeras_vs_pytorch_multimodal: examples/12_ZILNLoss_origkeras_vs_pytorch_multimodal.ipynb
        - 13_Model_Uncertainty_prediction: examples/13_Model_Uncertainty_prediction.ipynb
        - 14_bayesian_models: examples/14_bayesian_models.ipynb
        - 15_DIR-LDS_and_FDS: examples/15_DIR-LDS_and_FDS.ipynb
    - Contributing: contributing.md

theme:
    logo: assets/images/widedeep_logo.png
    name: material
    custom_dir: sources/overrides

    features:
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.indexes
        - navigation.expand
        - toc.integrate

    palette:
    - scheme: default
      primary: red
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    # palette:
    #     # scheme: preference uses dark or light mode based on user (OS) preference
    #     scheme: preference
    #     primary: red
    #     accent: red
    icon:
        logo: fontawesome/solid/code
    favicon: 'assets/images/favicon.ico'
    language: 'en'


use_directory_urls: false

plugins:
    - search
    - autolinks
    - git-authors:
        show_contribution: True
    - mkdocs-jupyter:
        ignore_h1_titles: True
        include_source: True
    - mkdocstrings:
        default_handler: python
        handlers:
            python:
                setup_commands:
                    - import sys
                    # - import os
                    - sys.path.insert(0, "..")
                rendering:
                    members_order: source
                    show_source: True
                    show_submodules: True
                    merge_init_into_class: True
                    separate_signature: True
                    show_root_full_path: False
                    show_root_heading: True
                    docstring_section_style: list
                    show_root_toc_entry: False
                    # show_root_heading: True
                    # show_object_full_path: False
                    # separate_signature: True
                    # merge_init_into_class: True
                    # heading_level: 2
                    # show_source: True
                    # show_category_heading: true
                    # docstring_section_style: table
                selection:
                    docstring_style: numpy
                    filters:
                       - "!^_"  # exclude all members starting with _
## Custom theme additions
extra_javascript:
    - stylesheets/extra.js
    - javascripts/mathjax.js
    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
    - stylesheets/extra.css

## Extensions
markdown_extensions:
    - markdown.extensions.admonition
    - markdown.extensions.attr_list
    - markdown.extensions.def_list
    - markdown.extensions.footnotes
    - markdown.extensions.meta
    - markdown.extensions.toc:
        baselevel: 1
        permalink: true
        toc_depth: 2
    - pymdownx.arithmatex:
        generic: true
    - pymdownx.betterem:
        smart_enable: all
    - pymdownx.caret
    - pymdownx.critic
    - pymdownx.details
    - pymdownx.emoji
    - pymdownx.highlight
    - pymdownx.inlinehilite
    - pymdownx.keys
    - pymdownx.magiclink:
    - pymdownx.mark
    - pymdownx.smartsymbols
    - pymdownx.snippets:
        check_paths: true
    - pymdownx.superfences
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.tilde